
@font-face {
    font-family: 'GTWalsheimPro-Regular';
    src: local('GTWalsheimPro-Regular'), url('../assets/fonts/GTWalsheimPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}