
@font-face {
    font-family: 'GTWalsheim Regular';
    src: local('GTWalsheim Regular'), url('../src/assets/fonts/GT\ Walsheim\ Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}