
@font-face {
    font-family: 'GT Walsheim Regular';
    src: local('GT Walsheim Regular'), url('../src/assets/fonts/GT\ Walsheim\ Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}