@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
  .visible-below-767 {
    display: block; 
  }
}

body {
  font-family: 'Roboto',sans-serif;
  scroll-behavior: smooth;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #243368 #111827;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #111827;
}

*::-webkit-scrollbar-thumb {
  background-color: #2b3a68;
  border-radius: 20px;
}




