@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', system-ui, sans-serif;
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a5b4fc transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #a5b4fc;
  border-radius: 20px;
}

input,
label {
  color: black;
}

option {
  background-color: #f1f5f9;
}