@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
  .visible-below-767 {
    display: block; 
  }
}
* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #717171 #cefaf1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  }

body {
  font-family: 'GT Walsheim Regular','Segoe UI',sans-serif;
  color: #161616;
}



.flex.flex-col > * {
  margin-bottom: 1rem; 
}



