@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
  .visible-below-767 {
    display: block; 
  }
}

body {
  font-family: 'GT Walsheim Regular','Segoe UI',sans-serif;
  color: #161616;
}

.flex.flex-col > * {
  margin-bottom: 1rem; 
}


